@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@font-face {
  font-family: iranSans;
  src: url(/fonts/IRANSans/IRANSans.ttf);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "iranSans";
}
a{
  text-decoration: none !important  ;
  color: var(--text-color) !important;
}
li{
  list-style: none;
}
hr{
  margin: 0;
}
:root{
  --text-color: "black";
  --bg-body: url(https://bostami-bootstrap.ibthemespro.com/bostami-template/assets/img/bg/page-bg-1.jpg);
  --them-primary:#60a7fe;
  --them-mode-btn:rgba(109, 218, 252, 0.524);
  --bg-card:rgba(255, 255, 255, 0.995);
  --bg-light-items:#212020;
  --pink:#fff4f4;
  --aqua : #eef5fa;
  --conflict-text-color:"white"
}
body{
  direction: rtl;
}
.page-wrapper{
  background-image: var(--bg-body);
  height: 100vh;
  width: 100vw;
  display: block;
  background-position: center center;
  background-size: cover;
  position: fixed;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: -100;
}
.main-parent{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.main{
  width: 72%;
  backdrop-filter: blur(25px) saturate(38%);
  -webkit-backdrop-filter: blur(25px) saturate(38%);
  background-color: var(--bg-card);
  border-radius: 20px;
  padding: 40px;
}
@media(max-width:1200px){
  .main-parent{
    display: block;
  }
  .main{
    width: 100%;
    margin-top: 20px;
}
}
@media(max-width:400px){
  .main{
    padding: 20px 15px;
  }
}