
.title{
    font-weight: bold;
}
.text_me{
    font-size: 18px;
}
.sale_box{
    border-radius: 10px;
    padding: 20px;
    background-color: var(--pink);
    width: 40%;
}
.user_box{
    border-radius: 10px;
    padding: 20px;
    background-color: var(--aqua);
    width: 40%;
}
.blue_icon_box{
    color: #d566ff;
    font-size: 30px;
}
.pink_icon_box{
    color: #ff6080;
    font-size: 30px;
}
.title_box{
    margin-right: 15px;
    font-size: 20px;
    font-weight: bold;
}
.box_parent{
    display: flex;
    justify-content: space-around;
}
.title_h2{
    font-weight: bold;
}
@media(max-width:1200px){
    .box_parent{
        display: block;
    }
    .sale_box{
        width: 90%;
        margin-top: 20px;
    }
    .user_box{
        width: 90%;
        margin-top: 20px;
    }
}
@media(max-width:600px){
    .sale_box{
        width: 100%;
    }
    .user_box{
        width: 100%;
    }
    .text_me{
        font-size: 14px;
    }
}
@media(max-width:300px){
    .title_h2{
        font-size: 20px;
    }
    .blue_icon_box , .pink_icon_box{
        font-size: 25px;
    }
    .title_box{
        font-size: 18px;
        margin-right: 5px;
    }
}